body, .pure-g, .pure-u-1-4 {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
    font-size: 28px;
}
h4 {
    text-transform: uppercase;
}

h5 {
    text-transform: uppercase;
    text-align: center;
}
img {
    padding-top: 10px;
    width: 100%;
}